[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytelegrambotapi = "*"
keras = "*"
pillow = "*"
tensorflow = "==2.15"

[dev-packages]
watchdog = "*"
psutil = "*"

[requires]
python_version = "3.11"
